.new{
height: 100px;
width: 100px;
background-color: aqua;
float:left;
}
.new3{
    height: 100px;
    width: 100px;
    background-color: red;
    float: left;
    }
    .new2{
        height: 100px;
        width: 100px;
        background-color: blue;
        float: left;
        }
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
          }
          